[submodule "submodules/TensorVision"]
	path = submodules/TensorVision
	url = https://github.com/TensorVision/TensorVision
[submodule "submodules/tensorflow-fcn"]
	path = submodules/tensorflow-fcn
	url = https://github.com/MarvinTeichmann/tensorflow-fcn.git
[submodule "submodules/vod-converter"]
	path = submodules/vod-converter
	url = https://github.com/nghiattran/vod-converter.git
